/*  by athallah faathir nugraha!!! */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@keyframes splash-text {
    from {color: black;}
    to {color: white;}
}

@keyframes splash-text-2 {
    0% {color: black; opacity: 0;}
    50% {color: black;}
    100% {color: white; opacity: 1;}
}

@keyframes splash-bg {
    from {background-color: black;}
    to {background-color: white;}
}

@keyframes game-splash {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    animation-name: splash-bg;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.splash {
    font-family: 'Squada One', cursive;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: splash-text;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#titleboy-2 {
    color: black;
    font-family: 'Squada One', cursive;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: splash-text-2;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: both;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}